body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// so the Links or anchor tags do not appear to have the underline under them wch is the default setting for achor tags
a {
  text-decoration: none;
  color: black;
}

// all of our elements should have this default sizing so that the the padding and borders is accounted for in the width of the element, they do not throw off 
// the dimensions of the element we have defined.
* {
  box-sizing: border-box;
}
